.container {
  padding: 0 2rem;
  display: block;
  max-width: 1000px;
  margin: 0 auto;
}
.header {
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
}
.navigationName {
  padding: 1.2rem;
  font-size: 20px;
  font-weight: bold;
}
.navigationName:hover {
  text-decoration: underline;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  width: auto;
}
.photoProfile {
  width: 55%;
  margin: auto 0;
}
.descProfile {
  width: 50%;
}
.descProfile {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.nameProfile h1 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 0;
}
.nameProfile h4 {
  font-weight: 300;
  margin-top: 0;
}
.photoProfile img {
  border-radius: 20px;
}
.aboutProfile a:hover {
  text-decoration: underline;
  color: green;
}
.aboutProfile .list::before {
  content: "📚 ";
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  margin-top: 40px;
}
.footer a {
  margin-top: 20px;
}
.footerEnd {
  margin-top: 20px;
}
.footerEnd a {
  padding: 20px;
}
.footerEnd a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  .navigationName {
    padding: 0.5rem;
    font-size: inherit;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
  }
  .photoProfile {
    width: 100%;
    text-align: center;
  }
  .descProfile {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 400px) {
  .descProfile {
    width: 100%;
    margin: 0 auto;
    margin-left: 0;
  }
}
